# Database Configuration
POSTGRES_DB=GymDogsDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# pgAdmin Configuration
PGADMIN_EMAIL=admin@gymdogs.com
PGADMIN_PASSWORD=admin

# JWT Configuration
JWT_SECRET_KEY=SuaChaveSecretaSuperSeguraComPeloMenos32CaracteresParaHS256
JWT_ISSUER=GymDogs
JWT_AUDIENCE=GymDogsUsers
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7
